:root{
    --header-color: #255ee9;
    --footer-color: #23272a;
    --body-color-row: #f6f6f6;
    --button-color: #5865f2;
    --white-color: #ffffff;
    --hover-color-black: #36393f;
    --download-card: #f6f6f6;
    --button-shadow: 0px 15px 20px rgba(0, 0, 0, 0.108);
    --p-font-size: 1.1em;
    --a-font-size: 1.1em;
    --a-font-size-smaller: 0.9em;
    --h1-font-size: 3.8em;
    --h2-font-size: 2.7em;
    --h3-font-size: 2em;
    --h4-font-size: 1.8em;
    --h4-font-size-small: 1em;
    
    

}


/* set general param of all document------------------------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;;
}



/* central all content container-------------------------------------------------------------------------------------------- */
.page-center{
    max-width: 1400px;
    margin: 0 auto;
}
.left{
    width: 70%;
}
.right{
    width: 30%;
}


/* header setting - nav menu-------------------------------------------------------------------------------------------- */
nav a{
    padding: 0 25px
}
.nav-background{
    background-color: var(--header-color);
    color: var(--white-color);   
}
.container-jumbo-text{
    width: 60%;
    margin: 0 auto;
    min-height: 730px;
    color: var(--white-color);
}
.section-backgroud{
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
}

/* img-main container left - right--------------------------------------------------------------------------------------------------------- */
.img-main{
    width: 800px;
    height: auto;  
}
.img-main-big{
    width: 1200px;
    height: auto;  
}
.h3-background{
    background-image: url("../img/stars.svg");
    width: 50%;
    padding-top: 30px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; 
}

/* svg wave gray - wave reverse -------------------------------------------------------------------------------------------------*/
.svg{
    background-image: url("../img/wave.svg");
    height: 100px;
    filter: opacity(0.04);
}
.svg-reverse{
    background-image: url("../img/wave.svg");
    height: 100px;
    filter: opacity(0.04);
    transform: rotate(180deg);
}


/* footer setting text - background ---------------------------------------------------------------------------------------------------*/
footer section{
    background-color: var(--footer-color);
}
select{
    background-color: transparent;
    border: 0px solid;
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: var(--p-font-size);
}
select option{
    background-color: var(--footer-color);
    color: var(--white-color);
    font-size: var(--p-font-size);   
}
.icon-social{
    font-size: 1.5em;
}
.border-footer{
    border-top: solid 1px var(--button-color);
}






/* general set with only tag------------------------------------------------------------------------------------------ */
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
p{
    line-height: 1.7;
}




/* font size  -------------------------------------------------------------------------------------------------------*/
.fs-H1{
    font-size: var(--h1-font-size);
}
.fs-H2{
    font-size: var(--h2-font-size);
}
.fs-H3{
    font-size: var(--h3-font-size);
}
.fs-H4{
    font-size: var(--h4-font-size);
}
.fs-H4-small{
    font-size: var(--h4-font-size-small);
}
.fs-p{
    font-size: var(--p-font-size);
}
.fs-a{
    font-size: var(--a-font-size);
}
.fs-a-smaller{
    font-size: var(--a-font-size-smaller);
}





/* setting all button  -----------------------------------------------------------------------------------------*/
.button-general{
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    padding: 14px 20px;
}
.button-general-smaller{
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
}
.width-button{
    width: 25%;
    margin: 0 auto;
}
.width-button-left{
    width: 55%;
    
}
.inline{
    display: inline;
}
.button-white:hover{
    box-shadow: var(--button-shadow); 
    transform: translateY(1px); 
    cursor: pointer; 
    text-decoration: none; 
}
.button-black:hover{
    box-shadow: var(--button-shadow); 
    transform: translateY(1px);
    cursor: pointer; 
    text-decoration: none;  
}
.button-violet:hover{
    box-shadow: var(--button-shadow); 
    transform: translateY(1px);
    cursor: pointer;
    text-decoration: none;  
}
.hover:hover{
    text-decoration: underline;
}




/* color elements (button - text - container) -------------------------------------------------------------------------------*/
.white{
    color: var(--white-color);
}
.bg-white{
    background-color: var(--white-color);
}
.black{
    color: var(--footer-color);
}
.bg-black{
    background-color: var(--footer-color);
}
.violet{
    color: var(--button-color);
}
.bg-violet{
    background-color: var(--button-color);
}
.gray-section{
    background-color: var(--body-color-row) ;
}




/* display block elements -----------------------------------------------------------------------------------------------------*/
.display-center{
    width: 220px;
    margin: 0 auto;
}
.display-center-text{
    width: 70%;
    margin: 0 auto;
}



/* setting of margin - padding container and text-------------------------------------------------------------------------------------- */
.text-align{
    text-align: center;   
}
.padding__nav{
    padding: 25px 15px;
}
.padding__footer{
    padding: 30px 0;
}
.padding__img{
    padding: 30px;
}
.padding-jumbo-container{
    padding: 340px 0 50px 0;
}
.padding-none{
    padding: 0;
}
.padding-contain{
    padding: 60px 30px;
}
.padding-card{
    padding: 10px;
}
.padding-card-text{
    padding: 10px 25px;
}
.margin-B{
    margin-bottom: 30px;
}
.margin-B-small{
    margin-bottom: 20px;
}
.margin-B-smaller{
    margin-bottom: 15px;
}
.margin-icon{
    margin: 5px;
}
.margin-button{
    margin: 10px;
}
.margin-button-card{
    margin: 20px 0;
}
.margin-dw{
    margin-top: 50px;
    margin-bottom: 20px;
}
.margin-top{
    margin-top: 60px;
    
}





/* all flex setting type------------------------------------------------------------------------------------------------------------------------- */
.d-flex{
    display: flex;
}
.d-flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-content{
    display: flex;
    flex-flow: column nowrap;    
}
.align-items{
    justify-content: center;
    align-items: center;
}
.d-flex-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;  
}
.d-flex-row{
    display: flex;
    justify-content: center;   
}
.d-flex-row-start{
    display: flex;
    justify-content: flex-start; 
}
.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
    
}
.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}
.flex-row-reverse{
    display: flex;
    flex-flow: row-reverse;
}
.align-items-start{
    align-items: flex-start;
}
.align{
    display: flex;
    justify-content: center;
}


























/* download page css */



/* header - jumbo section */
.img-jumbo{
    width: 800px;
    transition: 1s;
}
.img-jumbo:hover{
    scale: 1.1;
}
.left-width{
    width: 40%;
}
.right-width{
    width: 60%;
}




/* main section card */

.card-phone{
    border-radius: 15px; 
    overflow: hidden;  
    transition: 0.5s;
}
.card-phone:hover{
    scale: 1.05;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: card 1s linear infinite;    
}
@keyframes card{
    0%{
        transform: scale(1)
    }20%{
        transform: scale(1.05)
    }40%{
        transform: scale(1.1)
    }60%{
        transform: scale(1.15)
    }80%{
        transform: scale(1.5)
    }100%{
        transform: scale(1)
    }
}






/* parametri dimensioni  */

.height{
    height: 620px; 
}
.height-small{
    height: 320px; 
}
.width{
    width: calc(100% / 2); 
}
.block{
    display: block;
}




/* position relative - absolute  */
.relative{
    position: relative;
    
}
.absolute{
    position: absolute;
}




